@{
    Layout = null;
}
@{
    ViewData["Title"] = "Quên mật khẩu";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Tittle"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/LoginPage/style.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>

</head>
<body>
    <div class="container">

        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <form id="formConfirm" class="form-signin" asp-action="ForgotPassword" asp-controller="Account" method="post">
                <label class="form-label" style="font-weight: 500;">
                    Nhập email của bạn
                </label>
                <input name="Email" type="text" id="inputEmail" class="form-control" placeholder="Email" required>
                <span hidden>Hãy kiểm tra hộp thư email của bạn</span>
                <button id="btnConfirm" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Xác nhận</button>
            </form><!-- /form -->
            <a href="/Login">Trở về trang đăng nhập</a>
        </div><!-- /card-container -->
        
    </div><!-- /container -->

    <script src="~/app/controllers/Account/Index.js">
    </script>
</body>
</html>

