@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login Page";
}
@using NewsWebsite.ViewModel.User
@model LoginRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/LoginPage/style.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>

</head>
<body>
    <div class="container">

        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <div>
                @if (ViewData["Error"] != null)
                {
                    <div class="text-danger text-center">
                        @ViewData["Error"]
                    </div>
                }
            </div>
            <form class="form-signin" asp-action="Index" asp-controller="Login" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input asp-for="MyEmail" type="text" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input asp-for="RememberMe" type="checkbox"> Ghi nhớ đăng nhập
                    </label>
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Đăng nhập</button>
            </form>
            <a href="/Account/ForgotPassword" class="forgot-password">
                Quên mật khẩu?
            </a>
        </div>
    </div>
</body>
</html>





