@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section Scripts{
    <script src="~/lib/jquery/jquery.js"></script>
}*@
<div class="row">
    <div class="col-md-3 m-0 mt-2">
        <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist"
             aria-orientation="vertical">
            <div>
                <a class="nav-link" data-mdb-toggle="tab" role="tab" href="/edit/info/{@ViewData["UserID"]}">Chỉnh sửa thông tin cá nhân</a>
            </div>
            <div>
                <a class="nav-link" data-mdb-toggle="tab" role="tab" href="/image/{@ViewData["UserID"]}">Ảnh đại diện</a>
            </div>
            <div>
                <a class="nav-link" data-mdb-toggle="tab" role="tab" href="/update/password/{@ViewData["UserID"]}">Đổi mật khẩu</a>
            </div>
        </div>        
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</div>

