<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Danh mục</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="txtId" type="text"/>
                <div class="form-outline mb-4 mx-4">
                    <label class="form-label" style="font-weight: 500;">
                        Tên danh mục
                    </label>
                    <input id="txtName" type="text" class="form-control form-control-lg" />
                </div>
                <div class="form-outline mb-4 mx-4">
                    <label class="form-label" style="font-weight: 500;">
                        Mô tả
                    </label>
                    <input id="txtDescription" type="text" class="form-control form-control-lg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="btnUpdateCatalog" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>