@{
    ViewData["Title"] = "Home Page";
}
<p class="note note-primary">
    <strong>Note primary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>

<p class="note note-secondary">
    <strong>Note secondary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui
    necessitatibus delectus placeat illo rem id nisi consequatur esse, sint perspiciatis
    soluta porro?
</p>

<p class="note note-success">
    <strong>Note success:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>

<p class="note note-danger">
    <strong>Note danger:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>

<p class="note note-warning">
    <strong>Note warning:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>

<p class="note note-info">
    <strong>Note info:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>

<p class="note note-light">
    <strong>Note light:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
</p>