@{
    Layout = "~/Views/Shared/_OptionsInfoUserLayout.cshtml";
}


<div class="col-md-9 m-0 mt-2">
    <form id="idForm" asp-action="ChangePassword" method="post">
        <div class="card m-0 bg-light">
            <h1 class="text-center mt-2 mb-3">Đổi mật khẩu</h1>
            <input type="text" value="@ViewData["UserID"]" class="form-control form-control-lg" hidden />
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" style="font-weight: 500;">
                    Enter
                    password
                </label>
                <input name="newPassword" id="newPass" type="password" class="form-control form-control-lg" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" style="font-weight: 500;">
                    Confirm
                    password
                </label>
                <input name="confirmPassword" id="confirmPass" type="password" class="form-control form-control-lg" />
            </div>
            <div class="d-flex justify-content-center pt-3">
                <button type="submit" id="idButtonSubmit" class="btn btn-warning btn-lg ms-2 mb-2">
                    Change
                    Password
                </button>
            </div>
        </div>
    </form>

</div>
