@{
    Layout = "~/Views/Shared/_OptionsInfoUserLayout.cshtml";
    @model NewsWebsite.ViewModel.PasswordVM.PasswordVM
}

@section Styles{ 
    <link href="~/css/MyCustom.css" rel="stylesheet"/>
}
@section Scripts{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/app/controllers/ChangePassword/Index.js">
    </script>
}

<div class="col-md-9  mt-2">
    <div class="card m-0 bg-light">
        <form id="FormChangePassword" method="post" enctype="multipart/form-data" asp-action="ChangePasswordUser">
            <div class="card-header text-center bg-primary mb-2">
                <h3 class="card-title text-white">Đổi mật khẩu</h3>
            </div>

            <input id="UserID" asp-for="@Model.UserID" type="text" value="@ViewData["UserID"]" class="form-control form-control-lg" hidden />
            <div class="form-outline mb-1 mx-2">
                <label class="form-label" style="font-weight: 500;">
                    Nhập mật khẩu (Độ dài tối thiểu là 8 kí tự, phải có chữ in hoa, chữ thường, chữ số và ký tự đặc biệt)
                </label>
                <div class="input-group mx-1">
                    <input id="NewPass" asp-for="@Model.NewPass" type="password" class="form-control form-control-lg" title="" />
                    <button id="showNewPass" class="btn" type="button"><i id="icon_show_new_pass" class="fa-solid fa-eye"></i></button>
                </div>
                <div>
                    <h5 id="new_pass_check" class="error">
                    </h5>
                </div>
            </div>

            <div class="mb-3"></div>
            <div class="form-outline mb-1 mx-2">
                <label class="form-label" style="font-weight: 500;">
                    Xác nhận mật khẩu
                </label>
                <div class="input-group mx-1">
                    <input id="ConfirmPass" type="password" class="form-control form-control-lg" />
                    <button id="showConfirmPass" class="btn" type="button"><i class="fa-solid fa-eye"></i></button>
                </div>
                <div>
                    <h5 id="confirm_pass_check" class="error">
                    </h5>
                </div>
            </div>

            <div class="d-flex justify-content-center pt-3">
                <button id="idButtonSubmit" class="btn btn-outline-primary btn-lg ms-2 mb-2">
                    Cập nhật mật khẩu
                </button>
            </div>

        </form>
    </div>
</div>
