@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-3 m-0 mt-2">
        <div class="card">
            <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link" data-mdb-toggle="tab" href="" role="tab"
                   aria-selected="true">Thông tin cá nhân</a>
                <a class="nav-link" data-mdb-toggle="tab" href="" role="tab"
                   aria-selected="false">Ảnh đại diện</a>
                <a class="nav-link" data-mdb-toggle="tab" href="" role="tab"
                   aria-selected="false">Đổi mật khẩu</a>
            </div>
        </div>

        <!-- Tab navs -->
    </div>
    <div class="col-md-9 m-0 mt-2">
        <div class="card m-0 bg-light">
            <h2 class="text-center mt-2">Thông tin cá nhân của tôi</h2>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9" style="font-weight: 500;">
                    ID
                </label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="7e82b843-1c2d-4f00-b649-999f1ebb3140" disabled="true" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9" style="font-weight: 500;">
                    Last Name
                </label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="Le Minh" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9" style="font-weight: 500;">
                    First
                    Name
                </label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="Loi" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9" style="font-weight: 500;">
                    Nick
                    Name
                </label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="leminhloi_blogger" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9"
                       style="font-weight: 500;">Phone</label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="0943234246" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9"
                       style="font-weight: 500;">Email</label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="leminhloi@gmail.com" />
            </div>
            <div class="form-outline mb-4 mx-4">
                <label class="form-label" for="form3Example9" style="font-weight: 500;">
                    Identity
                    Number
                </label>
                <input type="text" id="form3Example9" class="form-control form-control-lg"
                       value="123412341234" />
            </div>


            <div class="bootstrap-iso mb-4 mx-4">
                <label class="form-label" style="font-weight: 500;">Date of birth</label>
                <div class="form-group col-sm-12 mb-10">
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"
                           type="text" value="07/29/2022" />
                </div>
            </div>

            <div class="row mb-4 mx-4">
                <div class="d-md-flex justify-content-around align-items-start mb-3 mt-3 py-2 col-md-6">
                    <h6 class="mb-0 me-4" style="font-weight: 500; font-size: larger;">
                        Gender:
                    </h6>
                    <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                               id="femaleGender" value="option1" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                    <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                               id="maleGender" value="option2" checked="true" />
                        <label class="form-check-label" for="maleGender">Male</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center pt-3">
                <button type="button" class="btn btn-warning btn-lg ms-2 mb-2">
                    Update
                    information
                </button>
            </div>

        </div>

    </div>
</div>
