@section Scripts{
    <script src="~/plugin/mustache.min.js"></script>
    <script src="~/plugin/jquery.twbsPagination.min.js"></script>
    <script src="~/app/controllers/User/Pagination/Index.js"></script>
    <script>
        var ctl = new PaginationController();
        ctl.initialize();
    </script>
}
@section Styles{
    <link href="~/css/MyCustom.css" rel="stylesheet" />
}

<div class="mx-2 mt-2">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-4 p">
                <h4>Danh sách <b>Blogger</b></h4>
            </div>
            <div class="col-sm-4 p-0">
                <div class="search-box">
                    <input type="text" id="txtSearch" class="form-control" placeholder="Tìm kiếm theo họ và tên">
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-between align-items-baseline">
                <a id="btnFilter" class="btn btn-outline-info" data-toggle="modal"><i class="fa-solid fa-magnifying-glass"></i><span> Tìm kiếm</span></a>
                <a href="/view/add-blogger" class="btn btn-info" data-toggle="modal"><i class="fa-solid fa-user-plus"></i><span> Thêm blogger</span></a>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="mycolor">STT</th>
                <th class="mycolor">Họ</th>
                <th class="mycolor">Tên</th>
                <th class="mycolor">Email</th>
                <th class="mycolor">Số điện thoại</th>
                <th class="mycolor">Ngày tạo</th>
                <th class="text-center mycolor">Hành động</th>
            </tr>
        </thead>
        <tbody id="tbl-content">
        </tbody>
    </table>
    <div class="py-2 d-flex justify-content-end">
        <div></div>
        <div id="pagination" class="pagination"></div>
    </div>
    
</div>


<script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{STT}}</td>
            <td>{{LastName}}</td>
            <td>{{FirstName}}</td>
            <td>{{Email}}</td>
            <td>{{Phone}}</td>
            <td>{{DateCreate}}</td>
            <td class="text-center">
                <a class="mx-1" href="/edit/info/{{Id}}" data-toggle="modal"><i class="fa-solid fa-user-pen" title="Chỉnh sửa"></i></a>
                <a class="btn-edit mx-1" href="#" data-id="{{Id}}" data-toggle="modal"><i class="fa-solid fa-eye text-secondary" title="Xem chi tiết"></i></a>
                <a class="mx-1" href="/delete/{{Id}}" onclick="return confirm('Bạn chắc chắn muốn xóa người này?');" data-toggle="modal"><i class="fa-solid fa-trash text-danger" title="Xóa"></i></a>
            </td>
        </tr>
</script>

<partial name="_DetailUser.cshtml" />



